@charset "utf-8";
@import 'reset';

// $main : #158354;

*{font-family: Pretendard,'Noto Sans KR', sans-serif;}

h2{
    font-size: 70px;
    font-weight: 600;
    // color: #008315;
}

h3{
    font-size: 60px;
    font-weight: 600;
    // color: #008315;
}

.base{
    max-width: 1400px;
    width: 100%;
    margin:  0 auto;
}

@keyframes moveLeft {
    0% {
        opacity:0; transform:translateX(100px)
    }
    100% {
        opacity:1; transform:translateX(0)
    }
}
@keyframes moveRight {
    0% {
        opacity:0; transform:translateX(-100px)
    }
    100% {
        opacity:1; transform:translateX(0)
    }
}
.section {
    &:nth-child(odd).active .section-title {
        animation:moveLeft 1.5s both;
    }
    &:nth-child(even).active .section-title {
        animation:moveRight 1.5s both;
    }

    .section-title {
        font-weight:100;
        color:#232323;

        strong {
            font-weight:600;
            color:#fff;
        }
    }
    
}
.start-page{
    height: 100vh;
    background-color: #92E674;

    .wrap-bg{
        position: relative;
        height: 100vh;
        // border: 5px solid red;
        overflow: hidden;
        

        // bg
        .sun{
            position: absolute;
            right: 0;

        }

        .ground{
            position: absolute;
            bottom: 0;
        }

        .rip{
            position: absolute;
            left: 20%;
            bottom:10%;
        }

        .right-gress{
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .leafLT{
            position: absolute;
            top: 0;
            left: 0;
        }

        .bottom-gress{
            position: absolute;
            bottom: 0;
        }

        // tree
        .treeLT{
            position: absolute;
            top: 0;
            left: 0;
        }

        .treeRT{
            position: absolute;
            top: 0;
            right: 0;
        }

        .treeLB{
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .treeRB{
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .js-move{
            position: absolute;
            top: 0;
            right: 0;
        }


        }
    

    
}

// 덕분에 잘 살다 갑니다.
.intro{
    height: 100vh;
    background-color: #F6CBF2;
    overflow: hidden;

    &.active .lion-box .lion{
        transform:translateX(-200px);
    }
    .wrap{
        position: relative;
        .intro-title{
            outline: 1px solid red;
            text-align: center;
            margin-top: -150px;

            #scroll-text{
                opacity: 0;
                transition: opacity 1s;
                transform: 0.5s ease-in-out ;
            }

            h2{
                font-size: 90px;
                line-height: 110px;
            }
            
        } 
        .lion-box {
            position:relative;
            outline:1px solid red;
            margin:0 auto;
            width:180px;
            top: 100px;

            .lion {
                position:absolute;
                top:calc(50% - 90px);
                left:calc(50% - 90px); 
                width:180px;
                 
                transition:0.5s 0.5s;
               
                 
            }

            .phone-home {
                position:relative;
            }

            img {
                
            }
        }

        // .phone-home{
        //     position: absolute;
        //     left: 50%;
        //     transform: translate(-50%);
        //     margin-top: 100px;
        //     margin-bottom: 300px;
        //     height: 500px;

        // }

        // .js-phone01{
        //     position: absolute;
        //     left: 40%;
        //     top: 100px;
        //     height: 200px;

        // }
    }

}
// 인생의 미련과 후회
.ask{
    height: 100vh;
    // padding:50px 0;
    background-color: #E6FFD2;
    position: relative;
    overflow: hidden;

    &.active .ask-icon {
        img {
            animation-name:fadeIn;
            animation-duration:1.5s;
            animation-fill-mode: both; 
        }
    }

    .inner{
        outline: 1px solid red;
        text-align:center;
        
        // margin-top: 300px;
        
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        // text-align: center;
    }

    h2{
        margin: auto;
    }

    @keyframes fadeIn {
        0% { opacity: 0; transform:translateY(20px)}
        100% { opacity: 1; transform:translateY(0)}
    }
    .ask-icon{

        img { position:absolute;}
        $delay : 0.5s, 0.3s, 1.4s, 0.5s, 1.2s, 0.7s, 0.8s, 0.9s;

        @for $i from 1 through 8 {
            img:nth-child(#{$i}) {
                animation-delay:nth($delay, $i);
            }
        } 

       
        .apple1{
            left: 52%;
            top: 12%;
        }

        .apple2{
            left: 75%;
            top: 20%;
        }

        .apple3{
            left: 85%;
            top: 50%;
        }

        .cross1{
            left: 73%;
            top: 75%;
        }

        .apple4{
            left: 50%;
            top: 80%;
        }

        .apple5{
            left: 30%;
            top: 75%;
        }

        .cross2{ 
            left: 12%;
            top: 50%;
        }

        .apple6{ 
            left: 24%;
            top: 20%;
        }
    }

}
// 죽음에 대한 두려움
.question{
    height: 100vh;
    .inner{
        position: relative;
        
        display: flex;
        justify-content: space-between;
        // outline: 1px solid red;
        

        .question-info{
            margin-top: 15%;

            .main-title{
                font-size: 44px;
                font-weight: 300;
            }

            .mid-title{
                font-size: 30px;
                font-weight: 300;
                color: #008315;
                margin-top: 20px;
                line-height: 45px;
            }

            p{
                
                color: #7D7D7D;
                margin-top: 10px;
                line-height: 20px;
            }

        }
    }
}
// 페르소나
.persona{
    height: 100vh;
    // background-color: aliceblue;
    position: relative;
    overflow: hidden;

    .title-wrap{
        // outline: 1px solid red;
        text-align: center;
        margin-top: -350px;
        
        h3{
            font-size: 50px;
        }

        .mid-title{
            font-size: 40px;
            font-weight: 300;
            margin-bottom: 40px;
        }

    }

    .bubble{
        // outline: 1px solid blue;
        display: flex;
        justify-content: space-around;     
        height: 200px;   
        .bubble-1{
            position: relative;
            height: 150px;
            width: 400px;
            background-color: #DCECFF;
            border-radius: 20px;

            p{
                text-align: center;
                width: 350px;
                font-size: 30px;
                font-weight: 200;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .triangle-1{
                position: absolute;
                left: 45%;
                // transform: translate(, -50%);
                bottom: -30px;
                width: 0;
                height: 0;
                border-bottom: 50px solid transparent;
                border-top: 50px solid transparent;
                border-left: 50px solid #DCECFF;
                border-right: 50px solid transparent;
            }
        }

        .bubble-2{
            position: relative;
            height: 150px;
            width: 400px;
            background-color: #FFE6E6;
            border-radius: 20px;

            p{
                text-align: center;
                width: 350px;
                font-size: 30px;
                font-weight: 200;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .triangle-2{
                position: absolute;
                left: 55%;
                bottom: -30px;
                width: 0;
                height: 0;
                border-bottom: 50px solid transparent;
                border-top: 50px solid transparent;
                border-left: 50px solid #FFE6E6;
                border-right: 50px solid transparent;
            }
        }

        .bubble-3{
            position: relative;
            height: 150px;
            width: 400px;
            background-color: #DDFFD8;
            border-radius: 20px;

            p{
                text-align: center;
                width: 350px;
                font-size: 25px;
                font-weight: 200;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .triangle-3{
                position: absolute;
                left: 30%;
                // transform: translate(, -50%);
                bottom: -30px;
                width: 0;
                height: 0;
                border-bottom: 50px solid transparent;
                border-top: 50px solid transparent;
                border-left: 50px solid transparent;
                border-right: 50px solid #DDFFD8;
            }
        }
    }

    .persona-character{
        // outline: 1px solid green;
        position: relative;
        
        .dog{
            position: absolute;
            left: 0;

            .dog-shadow{
                z-index: 1;
                position: absolute;
                bottom: 0px;
                left: 22%;
                height: 30px;
                width: 250px;
                border-radius: 50%;
                background-color:  rgba(4, 4, 4, 0.5);
                filter: blur(0.5);
            }
        }

        .cat{
            position: absolute;
            left: 50%;
            transform: translate(-40%,0);
        }

        .bear{
            position: absolute;
            right: 3%;
        }

    }
    
}

// 문제해결

.solution{
    height: 100vh;
    position: relative;
    
    
    .solution-wrap{
        display: flex;
        justify-content: space-between;        
        
        .solution-title{
            position: absolute;
            top: 40%;

            h3:nth-of-type(1){
                color: black;
                font-size: 50px;
            }

            p{
                color: #036436;
                position: absolute;
                top: 120%;

            }
        }

        .solution-circle{
            outline: 1px solid blue;
            display: flex;
            .circle-1{
                border: 10px solid #F6CBF2;
                height: 350px;
                width: 350px;
                border-radius: 50%;
                position: absolute;
                right: 28%;
                top: 24%;
                

                p{
                    position: absolute;
                    font-size: 35px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                p:nth-of-type(2){
                    position: absolute;
                    top: 280px;
                    width: 300px;
                    text-align: center;
                    font-size: 12px;
                }
            }

            .circle-2{
                // border: 10px solid transparent;
                
                // height: 450px;
                // width: 450px;
                // border-radius: 50%;
                // position: absolute;
                // right: 0;

                // position: absolute;
                // right: 0;
                // top: 21%;
                // width: 500px;
                // height: 500px;
                // border: 10px solid transparent;
                // border-radius: 50%;
                // background-image: linear-gradient(#fff, #fff), 
                // linear-gradient(to right, red 0%,  orange 100%);
                // background-origin: border-box;
                // background-clip: content-box, border-box;

                border: 10px solid #F6CBF2;
                height: 350px;
                width: 350px;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 24%;

                p{
                    position: absolute;
                    font-size: 35px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                p:nth-of-type(2){
                    position: absolute;
                    top: 280px;
                    width: 300px;
                    text-align: center;
                    font-size: 12px;
                }
            }
        }
    }
}

// 컬러

.color{
    outline: 1px solid;
    height: 100vh;
    overflow: hidden;

    p{
        color: #fff;
        font-size: 25px;
    }

    .wrap-green{
        outline: 1px solid red;
        height: 50%;
        display: flex;
        justify-content: space-between;
        
        li:nth-of-type(1){
            background-color: #0E4600;
            flex-grow: 3.5;
            position: relative;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            
        }

        li:nth-of-type(2){
            background-color: #A2D949;
            flex-grow: 5;
            position: relative;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }

        li:nth-of-type(3){
            background-color: #E3ED8D;
            flex-grow: 3;
            position: relative;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }

        
    }

    .wrap-yellow{
        outline: 1px solid blue;
        height: 50%;
        display: flex;
        justify-content: space-between;

        li:nth-of-type(1){
            position: relative;
            background-color: #FFBC13;
            flex-grow: 4;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }

        li:nth-of-type(2){
            position: relative;
            background-color: #FEC870;
            flex-grow: 2;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }
    }
}

// 저승이 설명
.character{
    background-color: #8CF9C5;
    overflow: hidden;
    height: 100vh;

    .wrap{
        display: flex;
        justify-content: space-between;

        .js-img{
            outline: 1px solid red;
        }

        .character-info{
            outline: 1px solid blue;
            display: flex;
            flex-direction: column;
            row-gap: 30px;



            .flex-box{
                outline: 1px solid green;
                height: 100px;
                
            }
        }
    }
}

// 타이포그래피
.typography{
    height: 100vh;
    overflow: hidden;

    .line{
        border: 1px solid #C3C3C3;

    }

    .typography-title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .pretendard{
        margin-top: 50px;
        margin-bottom: 100px;
        // outline: 1px solid red;
        display: flex;
        justify-content: space-between;
        

        .pretendard-left{
            display: flex;
            flex-direction: column;
            flex-grow: 0.4;
            row-gap: 20px;
            width: 500px;

            .title-font{
                font-size: 15px;
                font-weight: 600;
            }

            p{
                font-size: 20px;
                font-weight: 200;
                color: #403A3A;
            }
        }

        .pretendard-right{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            row-gap: 20px;
            

            .title-font-fake{
                font-size: 15px;
                font-weight: 600;
                color: #fff;
            }

            .font-well{
                font-size: 70px;
                font-weight: 400;
            }

            p{
                font-size: 20px;
                font-weight: 200;
                color: #403A3A;
            }
        }
    }

    .NotoSansKR{
        margin-top: 50px;
        margin-bottom: 100px;
        // outline: 1px solid red;
        display: flex;
        justify-content: space-between;

        .NotoSansKR-left{
            display: flex;
            flex-grow: 0.4;
            flex-direction: column;
            row-gap: 20px;
            width: 500px;
            

            .title-font{
                font-size: 15px;
                font-weight: 600;
            }

            p{
                font-size: 20px;
                font-weight: 200;
                color: #403A3A;
            }
        }

        .NotoSansKR-right{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            row-gap: 20px;

            .title-font-fake{
                font-size: 15px;
                font-weight: 600;
                color: #fff;
            }

            .font-well{
                font-size: 70px;
                font-weight: 400;
            }

            p{
                font-size: 20px;
                font-weight: 200;
                color: #403A3A;
                
                
            }
        }
    }
    


}

// 오후
.afternoon{
    background-image: url(../img/bg-afternoon.png);
    background-position: center center;
    background-size: cover;
    
}
// 목업
.mockup{
    height: 100vh;
    background-color: #FFF27E;
}

// 하루 유서 작성하기
.note{
    height: 100vh;
    
    position: relative;
    
    
    .inner{
        // outline: 1px solid red;
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 5;
        outline: 1px solid red;

        .note-info{
            // margin-top: 150px;
            outline: 1px solid blue;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            
            

            .hashtag-note{
                   
                font-weight: 600;
                font-size: 17px;
                margin-top: 14px;
                display: flex;
                column-gap: 20px;
                color: #008315;               
                
            }
        
            p{
                margin-top: 60px;
                font-size: 16px;
                color: #7D7D7D;
                line-height: 25px;
            }
        }

        .note-phone{
            outline: 1px solid red;
            height: 00px;
            display: flex;
            justify-content: flex-end;
            column-gap: 20px;
            position: absolute;
            top: calc(50% - 350px);
            right: -300px;

            img{
                height: 700px;
            }

            .note-phone2{
                outline: 1px solid blue;
                top: 200px;
                height: 700px;
            }

        }

        
        
    }

    .note-bg-end{
            position: absolute;
            bottom: -400px;
            left: -200px;
            width: 130%;
            z-index: 1;
    }
}

// 템플릿과 다양한 아이템
.write{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #FFF27E;

    .wrap{
        .rightTop-text{
            position: absolute;
            top: 60px;
            left: 170px;
        }

        .leftBottom-text{
            position: absolute;
            bottom: 60px;
            right: 170px;
            text-align: right;
        }



        .phone-wrap{
            ul{
                outline: 1px solid red;
                display: flex;
                justify-content: center;
                height: 500px;
                column-gap: 40px;

                li{
                    img{
                        height: 500px;
                    }
                }
            }
        }
    }
}

// 삶의 목표 정해요
.goal{
    height: 100vh;
    overflow: hidden;
    .inner{
        outline: 1px solid red;
        position: relative;
        z-index: 5;
        // display: flex;
        // justify-content: space-between;
        
        .goal-info{
            h3{
                display: flex;
                justify-content: flex-end;
            }

            ul{
                
                font-weight: 600;
                font-size: 17px;
                margin-top: 19px;
                display: flex;
                column-gap: 20px;
                color: #008315;               
                justify-content: flex-end;
            }

            .first-line-p{
                
                margin-top: 60px;
                font-size: 16px;
                color: #7D7D7D;
                line-height: 25px;
                display: flex;
                justify-content: flex-end;
            }
            .second-line-p{
                
                font-size: 16px;
                color: #7D7D7D;
                line-height: 25px;
                display: flex;
                justify-content: flex-end;
            }
        }

        .goal-phone{
            display: flex;
            position: absolute;
            column-gap: 30px;
            top: -300px;

            img{
                height: 700px;
            }
        }
    }
}

// 웰다잉 배우기
.learn{
    height: 100vh;
    outline: hidden;
    .inner{
        // outline: 1px solid red;
        position: relative;
        display: flex;

        ul{
            font-weight: 600;
            font-size: 17px;
            margin-top: 14px;
            display: flex;
            column-gap: 20px;
            color: #008315;               
            
        }

        p{
            margin-top: 60px;
            font-size: 16px;
            color: #7D7D7D;
            line-height: 25px;
            
        }


        .learn-phone{
            
            position: absolute;
            right: 0;
            top: -200px;
            
            img{
                height: 700px;
            }

        }
        


    }
}

// 목업 여러폰
.mockup-all{
    overflow: hidden;
    background-color: #A6F6BC;
    background-image: url(../img/mockup-all.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.night-bg{
    background-image: url(../img/bg-night.png);
    background-position: center center;
    background-size: cover;
}

// 팀원설명
.team{
    background-color: #000;
    .wrap{
        h2{
            color: #fff;
            text-align: center;
        }

        .line{
            border-bottom: #fff;
            width: 100%;
        }

        .team-wrap{
            ul{
                display: flex;
                justify-content: space-between;

                li{
                    
                    
                }
            }
        }
    }
}

// PLUGIN CSS EDIT
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    width: 8px;
    height: 8px;
    margin:-4px 0 0 -4px;
}

#fp-nav ul li, .fp-slidesNav ul li{
    margin: 20px 0;
}


#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span,
 #fp-nav ul li:hover a.active span, 
 .fp-slidesNav ul li:hover a.active span {
    background-color:#036436;
    border:2px solid rgba(#fff, 0.1);
}

#fp-nav.right {
    right:30px;
}

// tooltip text position 

#fp-nav ul li .fp-tooltip {
    background-color:rgba(#fff, 1);
    border-radius:20px;
    padding:10px; 
    color:#000;
    text-transform:uppercase;
    top:50%;
    transform:translateY(-50%);
     
    overflow:visible;

    &:after {
        content:'';
        display:block;
        width:0;
        height:0;
        border:10px solid transparent;
        position:absolute;
        left:calc(100% - 5px);
        top:calc(50% - 10px);
        border-left-color: rgba(#fff,1);
    }
    &.right {
        right:30px;
    }
}