@charset "utf-8";
@import 'reset';
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

// $main : #158354;

section{font-family: Pretendard,'Noto Sans KR', sans-serif;}

canvas {
    display: block;
}

h2{
    font-size: 70px;
    font-weight: 600;
    // color: #008315;
}

h3{
    font-size: 60px;
    font-weight: 600;
    // color: #008315;
}

.base{
    max-width: 1400px;
    width: 100%;
    margin:  0 auto;
}

@keyframes moveLeft {
    0% {
        opacity:0; transform:translateX(100px)
    }
    100% {
        opacity:1; transform:translateX(0)
    }
}
@keyframes moveRight {
    0% {
        opacity:0; transform:translateX(-100px)
    }
    100% {
        opacity:1; transform:translateX(0)
    }
}

.section {
   
    &:not([data-active="no"]) {
        &:nth-child(odd).active .section-title {
            animation:moveLeft 1.5s both;
        }
        &:nth-child(even).active .section-title {
            animation:moveRight 1.5s both;
        }
    }
 

    .section-title {
        font-weight:100;
        color:#232323;
        transition:1s;

        strong {
            font-weight:600;
            color:#fff;
        }
    }
    
}

.slick-slide.slick-active {
    .section-title {
        animation:moveLeft 1.5s both;
    }
}

// tree
@keyframes treeMoveLeft {
    0% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes treeMoveRight {
    0% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }


}



.start-page{
    height: 100vh;
    background-color: #92E674;

    .wrap-bg{
        position: relative;
        height: 100vh;
        // border: 5px solid red;
        overflow: hidden;
        

        // bg
        .sun{
            position: absolute;
            right: 0;

        }

        .ground{
            position: absolute;
            bottom: 0;
        }

        .rip{
            position: absolute;
            left: 20%;
            bottom:10%;
        }

        .right-gress{
            position: absolute;
            bottom: 0;
            right: 0;
        }

        .leafLT{
            position: absolute;
            top: 0;
            left: 0;
        }

        .bottom-gress{
            position: absolute;
            bottom: 0;
        }

        // tree
        .treeLT{
            position: absolute;
            top: 0;
            left: 0;
            animation: treeMoveRight 2.5s ease-in-out forwards;
        }

        .treeRT{
            position: absolute;
            top: 0;
            right: 0;
            animation: treeMoveLeft 2.5s ease-in-out forwards;
        }

        .treeLB{
            position: absolute;
            bottom: 0;
            left: 0;
            animation: treeMoveRight 2.5s ease-in-out forwards;
        }

        .treeRB{
            position: absolute;
            bottom: 0;
            right: 0;
            animation: treeMoveLeft 2.5s ease-in-out forwards;

        }

        .js-move{
            position: absolute; 
            top: calc(50% - 300px);
            left: calc(50% - 400px);            
            height: 600px;
        }

        p{
            position: absolute;
            top: 90%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 15px;
            color: #373737;
            
        }

        .mouse{
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
    
        }
    

    
}

// 덕분에 잘 살다 갑니다.
.intro{
    height: 100vh;
    // .apple {
    //     position:absolute;
    //     left:0;top:-150px; 
    //     transform:rotate(180deg);
    // }
    overflow: hidden; 
    position: relative;

    &.active .lion-box .lion{
        transform:translateX(-200px);
    }

    
    .wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .intro-title{
            text-align: center;
            
            img{
                height: 100px;
            }

            #scroll-text{
                opacity: 0;
                transition: opacity 1s;
                transform: 0.5s ease-in-out ;
            }

            h2{
                font-size: 60px; 
                letter-spacing:-0.5px;
                font-weight:300;
                color:#000000;
                strong {
                    display:block;
                    color:#036436;
                    font-weight:600;
                }
            }
            
        } 
        .lion-box {
            position:relative;
            // outline:1px solid red;
            margin:0 auto;
            width:280px;
            top: 20px;
             

            .lion {
                position:absolute;
                top:calc(50% - 90px);
                left:calc(50% - 90px); 
                width:220px;
                 
                transition:0.5s 0.5s;
               
                 
            }

            .phone-home {
                position:relative;
                
            }

        }

        // .phone-home{
        //     position: absolute;
        //     left: 50%;
        //     transform: translate(-50%);
        //     margin-top: 100px;
        //     margin-bottom: 300px;
        //     height: 500px;

        // }

        // .js-phone01{
        //     position: absolute;
        //     left: 40%;
        //     top: 100px;
        //     height: 200px;

        // }
    }

}
// 인생의 미련과 후회
.ask{
    height: 100vh;
    // padding:50px 0;
    background-color: #FFF27E;
    position: relative;
    overflow: hidden;

    &.active .ask-icon {
        img {
            animation-name:fadeIn;
            animation-duration:1.5s;
            animation-fill-mode: both; 
        }
    }

    .inner{
        // outline: 1px solid red;
        text-align:center;
        
        // margin-top: 300px;
        
        // position: absolute;
        // left: 50%;
        // top: 50%;
        // transform: translate(-50%, -50%);
        // text-align: center;
    }

    h2{
        margin: auto;
    }

    @keyframes fadeIn {
        0% { opacity: 0; transform:translateY(20px)}
        100% { opacity: 1; transform:translateY(0)}
    }
    .ask-icon{

        img { position:absolute;}
        $delay : 0.5s, 0.3s, 1.4s, 0.5s, 1.2s, 0.7s, 0.8s, 0.9s;

        @for $i from 1 through 8 {
            img:nth-child(#{$i}) {
                animation-delay:nth($delay, $i);
            }
        } 

       
        .apple1{
            left: 52%;
            top: 12%;
        }

        .apple2{
            left: 75%;
            top: 20%;
        }

        .apple3{
            left: 85%;
            top: 50%;
        }

        .cross1{
            left: 73%;
            top: 75%;
        }

        .apple4{
            left: 50%;
            top: 80%;
        }

        .apple5{
            left: 30%;
            top: 75%;
        }

        .cross2{ 
            left: 12%;
            top: 50%;
        }

        .apple6{ 
            left: 24%;
            top: 20%;
        }
    }

}
// 죽음에 대한 두려움
.question{
    height: 100vh;
    .inner{
        position: relative;
        
        display: flex;
        justify-content: space-between;
        // outline: 1px solid red;
        

        .question-info{
            margin-top: 15%;

            .main-title{
                font-size: 44px;
                font-weight: 300;
            }

            .mid-title{
                font-size: 30px;
                font-weight: 300;
                color: #008315;
                margin-top: 20px;
                line-height: 45px;
            }

            p{
                
                color: #7D7D7D;
                margin-top: 10px;
                line-height: 20px;
            }

        }
    }
}
// 페르소나
.persona{
    height: 100vh;
    // background-color: aliceblue;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255, 242, 126, 0.00) 65.1%, #FFF27E 100%);

    .title-wrap{
        // outline: 1px solid red;
        text-align: center;
        margin-top: -230px;
        
        h3{
            font-size: 44px;
            font-weight: 500;
            color: rgb(207, 0, 0);
            margin-bottom: 3px;
        }

        .mid-title{
            font-size: 40px;
            font-weight: 300;
            margin-bottom: 70px;
            color: #000;
        }

    }

    .bubble{
        // outline: 1px solid blue;
        display: flex;
        justify-content: space-around;     
        height: 200px;   
        .bubble-1{
            position: relative;
            height: 150px;
            width: 400px;
            background-color: #DCECFF;
            border-radius: 20px;

            p{
                text-align: center;
                width: 350px;
                font-size: 23px;
                font-weight: 400;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .triangle-1{
                position: absolute;
                left: 45%;
                // transform: translate(, -50%);
                bottom: -30px;
                width: 0;
                height: 0;
                border-bottom: 50px solid transparent;
                border-top: 50px solid transparent;
                border-left: 50px solid #DCECFF;
                border-right: 50px solid transparent;
            }
        }

        .bubble-2{
            position: relative;
            top: -30px;
            height: 150px;
            width: 400px;
            background-color: #FFE6E6;
            border-radius: 20px;

            p{
                text-align: center;
                width: 350px;
                font-size: 23px;;
                font-weight: 400;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .triangle-2{
                position: absolute;
                left: 55%;
                bottom: -30px;
                width: 0;
                height: 0;
                border-bottom: 50px solid transparent;
                border-top: 50px solid transparent;
                border-left: 50px solid #FFE6E6;
                border-right: 50px solid transparent;
            }
        }

        .bubble-3{
            position: relative;
            height: 150px;
            width: 400px;
            background-color: #DDFFD8;
            border-radius: 20px;

            p{
                text-align: center;
                width: 350px;
                font-size: 23px;;
                font-weight: 400;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .triangle-3{
                position: absolute;
                left: 30%;
                // transform: translate(, -50%);
                bottom: -30px;
                width: 0;
                height: 0;
                border-bottom: 50px solid transparent;
                border-top: 50px solid transparent;
                border-left: 50px solid transparent;
                border-right: 50px solid #DDFFD8;
            }
        }
    }

    .persona-character{
        // outline: 1px solid green;
        position: relative;
        
        .dog{
            position: absolute;
            left: 0;

            img{
                width: 280px;
            }
        }

        .cat{
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translate(-40%,0);
            img{
                width: 280px;
            }
        }

        .bear{
            position: absolute;
            right: 3%;
            img{
                width: 280px;
            }
        }

    }
    
}

// 문제해결

.solution{
    height: 100vh;
    position: relative;
    
    
    .solution-wrap{
        display: flex;
        justify-content: space-between;        
        
        .solution-title{
            position: absolute;
            top: 40%;

            h3:nth-of-type(1){
                color: black;
                font-size: 44px;
                font-weight: 300;
            }

            p{
                position: absolute;
                top: 120%;
                font-size: 18px;
                font-weight: 300;
                color: #645F5F;

            }
        }

        .solution-circle{
            outline: 1px solid blue;
            display: flex;
            .circle-1{
                box-shadow: 0 10px 0 0 #ff7a7a, 10px 0 0 0 #3a823a, 0 -10px 0 0 #3a823a, -10px 0 0 0 #ff7a7a;
                height: 350px;
                width: 350px;
                border-radius: 50%;
                position: absolute;
                right: 28%;
                top: 24%;
                

                p{
                    position: absolute;
                    font-size: 40px;
                    font-weight: 600;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                p:nth-of-type(2){
                    position: absolute;
                    top: 400px;
                    width: 300px;
                    text-align: center;
                    font-size: 15px;
                    color: #645F5F;
                    font-weight: 300;
                }
            }

            .circle-2{
                // border: 10px solid transparent;
                
                // height: 450px;
                // width: 450px;
                // border-radius: 50%;
                // position: absolute;
                // right: 0;

                // position: absolute;
                // right: 0;
                // top: 21%;
                // width: 500px;
                // height: 500px;
                // border: 10px solid transparent;
                // border-radius: 50%;
                // background-image: linear-gradient(#fff, #fff), 
                // linear-gradient(to right, red 0%,  orange 100%);
                // background-origin: border-box;
                // background-clip: content-box, border-box;

                box-shadow: 0 10px 0 0 #ff7a7a, 10px 0 0 0 #3a823a, 0 -10px 0 0 #3a823a, -10px 0 0 0 #ff7a7a;
                height: 350px;
                width: 350px;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 24%;

                p{
                    position: absolute;
                    font-size: 40px;
                    font-weight: 600;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                }

                p:nth-of-type(2){
                    position: absolute;
                    top: 400px;
                    width: 330px;
                    text-align: center;
                    font-size: 15px;
                    font-weight: 300;
                    color: #645F5F;
                }
            }
        }
    }
}

// 컬러

.color{
    outline: 1px solid;
    height: 100vh;
    overflow: hidden;

    p{
        color: #fff;
        font-size: 25px;
    }

    .wrap-green{
        outline: 1px solid red;
        height: 50%;
        display: flex;
        justify-content: space-between;
        
        li:nth-of-type(1){
            background-color: #0E4600;
            flex-grow: 3.5;
            position: relative;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
            
        }

        li:nth-of-type(2){
            background-color: #A2D949;
            flex-grow: 5;
            position: relative;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }

        li:nth-of-type(3){
            background-color: #E3ED8D;
            flex-grow: 3;
            position: relative;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }

        
    }

    .wrap-yellow{
        outline: 1px solid blue;
        height: 50%;
        display: flex;
        justify-content: space-between;

        li:nth-of-type(1){
            position: relative;
            background-color: #FFBC13;
            flex-grow: 4;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }

        li:nth-of-type(2){
            position: relative;
            background-color: #FEC870;
            flex-grow: 2;

            p{
                position: absolute;
                bottom: 20px;
                right: 20px;
            }
        }
    }
}

// 저승이 설명
.character{
    background-color: #FFF27E;
    overflow: hidden;
    height: 100vh;

    .wrap{
        display: flex;
        justify-content: space-between;

        .js-img{
            img{
                height: 650px;
            }
            
        }

        .character-info{
            // outline: 1px solid blue;
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            .text-info{
                h2{
                    margin-top: 50px;
                    margin-bottom: 30px;
                }

                p{
                    font-weight: 300;
                    font-size: 20px;
                    line-height:30px;
                }
            }



            .flex-box{
                // outline: 1px solid green;
                height: 70px;
                
            }
        }
    }
}

// 타이포그래피
.typography{
    height: 100vh;
    overflow: hidden;

    .line{
        border: 1px solid #C3C3C3;

    }

    .typography-title{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .pretendard{
        margin-top: 50px;
        margin-bottom: 100px;
        // outline: 1px solid red;
        display: flex;
        justify-content: space-between;
        

        .pretendard-left{
            display: flex;
            flex-direction: column;
            flex-grow: 0.4;
            row-gap: 20px;
            width: 500px;
            font-family: "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

            .title-font{
                font-size: 15px;
                font-weight: 600;
            }

            p{
                font-size: 20px;
                font-weight: 200;
                color: #403A3A;
            }
        }

        .pretendard-right{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            row-gap: 20px;
            

            .title-font-fake{
                font-size: 15px;
                font-weight: 600;
                color: #fff;
            }

            .font-well{
                font-size: 70px;
                font-weight: 400;
            }

            p{
                font-size: 20px;
                font-weight: 200;
                color: #403A3A;
            }
        }
    }

    .NotoSansKR{
        margin-top: 50px;
        margin-bottom: 100px;
        // outline: 1px solid red;
        display: flex;
        justify-content: space-between;

        .NotoSansKR-left{
            display: flex;
            flex-grow: 0.4;
            flex-direction: column;
            row-gap: 20px;
            width: 500px;
            font-family: "Noto Sans KR";
            

            .title-font{
                font-size: 15px;
                font-weight: 600;
            }

            p{
                font-size: 20px;
                font-weight: 200;
                color: #403A3A;
            }
        }

        .NotoSansKR-right{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            row-gap: 20px;
            font-family: "Noto Sans KR";

            .title-font-fake{
                font-size: 15px;
                font-weight: 600;
                color: #fff;
            }

            .font-well{
                font-size: 70px;
                font-weight: 400;
            }

            p{
                font-size: 20px;
                font-weight: 200;
                color: #403A3A;
                
                
            }
        }
    }
    


}

// 오후
.afternoon{
    background-image: url(../img/bg-afternoon.png);
    background-position: center center;
    background-size: cover;

    .wrap{
        height: 100vh;
        position: relative;

        p{
            position: absolute;
            top: 50%;
            left: 5px;
            color: white;
            font-size: 25px;
            font-weight: 300;
        }

        h2{
            position: absolute;
            top: 58%;
            color: white;
        }
    }
    
}

.video{
    background: linear-gradient(180deg, #FFF27E 0%, #EDFFC8 100%);
    iframe{
        position: relative;
        // top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 90%;
        
    }
}

// 목업
.mockup{
    height: 100vh;
    background: linear-gradient(180deg, #EEFFC9 28.13%, #FFFEDE 56.77%, #FFF 100%);

    .wrap{
        position: relative;

        .mockup-three{
            left: 15%;
            height: 800px;
        }

        .mockup-title{
            position: absolute;
            top: 26%;
            right: 16.5%;
            height: 50px;
            font-size: 30px;
            font-weight: 500;
            color: #007420;

        }

        .logo{
            position: absolute;
            top: 33%;
            right: 11%;
            height: 90px;
        }
    }
}


.screenshots {
    .slick-slide {
        height:100vh;
    }
    article {
        height:100vh;
        align-items:center;
        width:100vw;
        overflow:hidden;    
        padding-left:50px;
        padding-right:50px;

        .inner {
            height:100vh;
            align-items:center;
            display:flex;
        }
    }
}

// 하루 유서 작성하기
.note{
    height: 100vh;
    position: relative;
    
    
    
    .inner{
        // outline: 1px solid red;
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 5;
        // outline: 1px solid red;

        .note-info{
            flex-basis:50%;
            flex-shrink:0;
            ul {
                margin:20px 0;
            }
            
            h3 {
                white-space:nowrap;
            }
            

            .hashtag-note{
                   
                font-weight: 600;
                font-size: 17px;
                margin-top: 14px;
                display: flex;
                column-gap: 20px;
                color: #008315;               
                
            }
        
            p{
                margin-top: 60px;
                font-size: 18px;
                font-weight: 300;
                color: #645F5F;
                line-height: 25px;
            }

            
        }

        .note-phone{
            flex-basis:50%;
            display: flex; 
            column-gap: 20px;
           

            img {
                width:300px;
                flex-shrink:0;
            }
            

        }

        
        
    }

    .note-bg-end{
            position: absolute;
            bottom: -400px;
            left: -200px;
            width: 130%;
            z-index: 1;
    }
}

// 템플릿과 다양한 아이템
.write{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #FFF27E;
    
    .wrap{
        height:100vh;
        display:flex;align-items:center;justify-content:center;
        .rightTop-text{
            position: absolute;
            top: 60px;
            left: 170px;
            font-size: 70px;
            font-weight: 600;
        }

        .leftBottom-text{
            position: absolute;
            bottom: 60px;
            right: 170px;
            text-align: right;
            font-size: 70px;
            font-weight: 600;
        }



        .phone-wrap{
            ul{
                // outline: 1px solid red;
                display: flex;
                justify-content: center;
                height: 500px;
                column-gap: 40px;
                top: 200px;

                li{
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }
}

// 삶의 목표 정해요
.goal{
    height: 100vh;
    overflow: hidden;
    .inner{
        // outline: 1px solid red;
        position: relative;
        z-index: 5;
        // display: flex;
        justify-content: space-between;
        flex-direction:row-reverse;
        .goal-info{
            flex-basis:40%;
            h3{
                display: flex;
                justify-content: flex-end;
            }

            ul{
                
                font-weight: 600;
                font-size: 17px;
                margin-top: 19px;
                display: flex;
                column-gap: 20px;
                color: #008315;               
                justify-content: flex-end;
            }

            .first-line-p{
                
                margin-top: 60px;
                font-size: 18px;
                font-weight: 300;
                color: #645F5F;
                line-height: 25px;
                display: flex;
                justify-content: flex-end;
            }
            .second-line-p{
                
                font-size: 18px;
                font-weight: 300;
                color: #645F5F;
                line-height: 25px;
                display: flex;
                justify-content: flex-end;
            }
        }

        .goal-phone{
             flex-basis:50%;
             display:flex;
             column-gap:20px;
             align-items:center;

             img {
                width:40%;
             }
            
        }
    }
}

// 웰다잉 배우기
.learn{
    height: 100vh;
    outline: hidden;
    .inner{
        // outline: 1px solid red;
        position: relative;
        display: flex;
        justify-content:space-between;
        .learn-info {
            flex-basis:40%;
        }
        ul{
            font-weight: 600;
            font-size: 17px;
            margin-top: 14px;
            display: flex;
            column-gap: 20px;
            color: #008315;               
            
        }

        p{
            margin-top: 60px;
            font-size: 18px;
            font-weight: 300;
            color: #645F5F;
            line-height: 25px;
            
        }


        .learn-phone{
            display:flex;
            align-items:center;

            column-gap:20px;
            flex-basis:50%;
            
            
            img{
                 width:40%;
            }

        }
        


    }
}

// 목업 여러폰
.mockup-all{
    overflow: hidden;
    background-color: #A6F6BC;
    background-image: url(../img/mockup-all.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
// 저녁
.night-bg{
    background-image: url(../img/bg-night.png);
    background-position: center center;
    background-size: cover;

    
    p{
        position: absolute;
        top: 50%;
        left: 5px;
        color: white;
        font-size: 25px;
        font-weight: 300;
    }

    h2{
        position: absolute;
        top: 58%;
        color: white;
    }
}

// 팀원설명
.team{
    overflow: hidden;
    background-color: #000;
    .wrap{
        h2{
            color: #fff;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .line{
            margin-bottom: 50px;
            border:1px solid #707070;
            width: 100%;
        }

        .team-wrap{
            .team-img{
                // outline: 1px solid red;
                display: flex;
                justify-content: space-between;

                .team{
                    // outline: 1px solid blue;
                    color: rgb(221, 221, 221);
                    text-align: center;
                    line-height: 25px;
                    font-weight: 300;

                    .job{
                        font-size: 30px;
                        font-weight: 400;
                        margin-bottom: 20px;
                    }

                    .name{
                        font-size: 18px;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }
                }

                img{
                    height: 300px;
                    // outline: 1px solid green;
                }
            }

            ul{
                display: flex;
                justify-content: space-between;

                li{
                    color: #fff;
                }
            }
        }
    }
}

footer{
    
    // outline: 1px solid red;
    width: 100%;
    display: flex;
    color: white;
    

    .footer-logo{
        flex-grow: 0.1;
        display: flex;
        column-gap: 10px;
        color: rgb(113, 113, 113);
        // margin-top: 100px;
    }
    
    p{
        flex-grow: 0.26;
        margin-top: 100px;
        color: #717171;
    }

    img{
        height: 20px;
        margin-top: 100px;
        color: #403A3A;
    }
}

.quotation{
    background-color: #000;
    color: #645F5F;

    .wrap{
        margin-top: 300px;
        line-height: 20px;

        p{
            font-size: 12px;
        }
    }
}


// PLUGIN CSS EDIT
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    width: 8px;
    height: 8px;
    margin:-4px 0 0 -4px;
}

#fp-nav ul li, .fp-slidesNav ul li{
    margin: 20px 0;
}


#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span,
 #fp-nav ul li:hover a.active span, 
 .fp-slidesNav ul li:hover a.active span {
    background-color:#036436;
    border:2px solid rgba(#fff, 0.1);
}

#fp-nav.right {
    right:30px;
}

// tooltip text position 

#fp-nav ul li .fp-tooltip {
    background-color:rgba(#fff, 1);
    border-radius:20px;
    padding:10px; 
    color:#000;
    text-transform:uppercase;
    top:50%;
    transform:translateY(-50%);
     
    overflow:visible;

    &:after {
        content:'';
        display:block;
        width:0;
        height:0;
        border:10px solid transparent;
        position:absolute;
        left:calc(100% - 5px);
        top:calc(50% - 10px);
        border-left-color: rgba(#fff,1);
    }
    &.right {
        right:30px;
    }
}